@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  --main-primary: #eba768;
  --main-secondary: #f0e5dc;
}
body {
  background-color: var(--main-secondary);
  display: flex;
  transition: background-color 0.5s;
}
button {
  cursor: pointer;
}
main {
  width: 60%;
  height: 100vh;
}
#navbar {
  position: relative;
  z-index: 101;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar > img {
  width: 200px;
}
.nav-link {
  position: relative;
  margin: 10px;
  text-decoration: none;
  color: #888;
  font-size: 1.3rem;
  font-weight: 100;
  transition: color 0.5s, text-decoration 0.5s;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background: #888;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.3s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.nav-link.active {
  color: #000;
  font-weight: 500;
}
.nav-link.active::after {
  height: 3px;
  background: #000;
}
#toggle {
  font-size: 1.2rem;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  display: none;
  transition:margin 0.5s;
}
#searchBar {
  display: flex;
  overflow: hidden;
}
#searchBar > * {
  border: none;
  outline: none;
  padding: 5px 10px;
}
#searchBar > button {
  border-radius: 10px;
  margin-left: -20px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
}
#searchBar > input {
  width: 300px;
  font-size: 1.25rem;
  font-weight: 100;
  border-radius: 10px;
}
section:nth-of-type(1) {
  padding: 10px 30px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: -1;
}
#discount > h3 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: 5px;
}
#discount > div {
  height: 2px;
  width: 180px;
  background-color: #000;
  position: relative;
  margin-bottom: 5px;
}
#discount > div::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -2px;
  background-color: #000;
  height: 10px;
  width: 10px;
  transform: translateY(-50%);
}
#discount > p {
  font-weight: 500;
  color: #888;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-left: 5px;
}
#nikeText {
  padding: 0 30px;
  position: relative;
  z-index: -2;
}
#nikeText > h1 {
  font-size: 5rem;
  font-weight: 700;
}
#nikeText > p {
  font-weight: 300;
  font-size: 1.2rem;
  max-width: 80%;
  margin: 10px 0;
}
#nikeText > button {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 15px 40px;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 10px;
  margin-top: 10px;
}
aside {
  background-color: var(--main-primary);
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  transition: background-color 0.5s;
}
aside > div:nth-of-type(1),
aside > div:nth-of-type(3) {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
aside > div > span {
  font-weight: 300;
}
#cart {
  border: none;
  padding: 10px 12px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
}
#shoeDetails {
  background-color: #000;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}
#shoeDetails::after {
  content: "";
  position: absolute;
  top: -30px;
  background-color: #000;
  height: 140px;
  width: 120%;
  border-radius: 50%;
}

#details {
  position: relative;
  z-index: 2;
  width: 90%;
  color: #fff;
}
#details > h4 {
  font-size: 2.25rem;
}
#details > hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
#review {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
#rating {
  font-size: 1.2rem;
}
#rating > i {
  color: #eee;
}
#rating > i.gold {
  color: #fdcc0d;
}
#sizes {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.size {
  font-size: 1.4rem;
  color: #ddd;
  position: relative;
  margin-top: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.size::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.size.active {
  font-size: 2rem;
  color: #fff;
  margin-top: var(--mt);
}
.size.active::after {
  background-color: #fff;
  top: -20px;
}
.size.active::before {
  content: "";
  z-index: -1;
  height: 80px;
  width: 80px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
#productImg {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#productImg > img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  transform: rotate(-30deg);
  transition: filter 0.5s, transform 0.2s;
}
#productImg > img.green {
  filter: hue-rotate(100deg);
}
#productImg > img.blue {
  filter: hue-rotate(180deg);
}
#colors {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateX(-50%);
}
#colors > button {
  position: relative;
  height: 30px;
  width: 30px;
  display: block;
  background-color: #ffffff96;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
}
#colors > button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: var(--bg);
  border: 1px solid white;
}
#overlay {
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
#overlay > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#overlay .nav-link {
  font-weight: 300;
  font-size: 2rem;
  margin: 10px;
}
@media (max-width: 1100px) {
  #toggle {
    display: block;
  }
  #navbar > div {
    display: none;
  }
}
@media (max-width: 768px) {
  #overlay {
    width: 100%;
  }
  #overlay.active + main #toggle {
    margin-left:100%;
    /* display: none; */
  }
}
